@model mvcMovie.Models.User
@{
    Layout = null;
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/mycss/testone.css" asp-append-version="true" />

<form asp-action="Create">
    <div id="divForm" class="form-horizontal">
        <h3>Movie</h3>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group has-success has-feedback">
            <label class="control-label col-md-2" for="inputSuccess3" asp-for="UserName"></label>
            <div class="col-md-10">
                <input type="text" asp-for="UserName" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span id="inputSuccess3Status" class="sr-only">(success)</span>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>


<p class="demo">I am studying bootstrap sass framework</p>

<div class="demo"><a href="www.baidu.com">百度</a></div>